
@{
    Layout = null;//nếu bỏ dòng này thì nó sẽ apply vào layout parent
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" /> 
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" /> 
    <link href="~/Content/styleLogin.css" rel="stylesheet" />
    <title>Đăng Nhập Hệ Thống</title>
</head>
<body>
    <div> 
        <h1>Thông Tin Đăng Nhập</h1>
    </div>
    <div class="formDangNhap" >
        <input type="text"  placeholder="Tên đăng nhập"/>
        <p>DUy Khang</p>
    </div>
</body>
</html>
