
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/LayoutParentLogin.cshtml";
}

<h1>Test</h1>
<p>Name @ViewBag.productName</p>
<p>price @ViewBag.productPrice</p>
<p>category @ViewBag.productCategory</p>