
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/LayoutParentLogin.cshtml";
}

<p>ProductName:@ViewBag.productName</p>
<p>ProductPrice:@ViewBag.productPrice</p>
<p>productDescription:@ViewBag.productDescription</p>
 <p>ProductCategory:@ViewBag.productCategory</p>
<p>optIsDescreasePrice:@ViewBag.optIsDescreasePrice</p>
<p>descreasePrice: @ViewBag.descreasePrice</p>
<p>optIsTopNew: @ViewBag.optIsTopNew</p>
<p>currentDate: @ViewBag.currentDate</p>
<p>productImage:@ViewBag.productImage</p>