
@{
    ViewBag.Title = "ViewProductDetail";
    Layout = "~/Views/Shared/LayoutParentHome.cshtml";
    var product = ViewBag.product;
    IFormatProvider formatProvider =
        new System.Globalization.CultureInfo("vi-VN");
}

<div class="products">
            <div class="item-container">
                <div class="container">
                    <div class="col-md-6">
                        <div class="product col-md-12" >

                            <img src="@Url.Content(@product.Image)"  class="img-responsive" alt="No Image" />
                        </div>

                        <div class="container service1- col-sm-2 col-md-2 pull-left">
                                <a id="item-1" class="service1-item">
                                </a>
                                <a id="item-2" class="service1-item">
                                </a>
                                <a id="item-3" class="service1-item">
                                </a>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="product-title">Corsair GS600 600 Watt PSU</div>
                        <div class="product-desc">The Corsair Gaming Series GS600 is</div>
                        <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
                        <hr>
                        <div class="product-price">$ 1234.00</div>
                        <div class="product-stock">In Stock</div>
                        <hr>
                        <div class="btn-group cart">
                            <button type="button" class="btn btn-success">
                                Thêm Vào Giỏ Hàng
                            </button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6 product-info">
                    <ul id="myTab" class="nav nav-tabs nav_tabs">

                        <li class="active"><a href="#service-one" data-toggle="tab">Mô tả</a></li>
                        <li><a href="#service-two" data-toggle="tab">Thông tin sản phẩm</a></li>
                        <li><a href="#service-three" data-toggle="tab">Nhận xét</a></li>

                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="service-one">
                            ff
                            <section class="container product-info">fgd</section>

                        </div>
                        <div class="tab-pane fade" id="service-two">
                            fdgfd
                            <section class="container">gdfd</section>

                        </div>
                        <div class="tab-pane fade" id="service-three">
                            ffd
                        </div>
                    </div>
                    <hr>
                </div>
   
</div>